eventlet~=0.35.2
pycryptodome~=3.9.9
websocket-client~=0.57.0
python-dotenv~=0.15.0
praw~=7.1.2
psycopg2~=2.9.10
pymemcache~=3.4.0
transformers~=4.52.3
tokenizers~=0.21.1
psycopg2-binary~=2.9.10
numpy~=2.2.6
torch~=2.7.0
pandas~=2.2.3
scikit-learn~=1.6.1
mysql-connector-python~=9.3.0
requests~=2.32.3
bs4~=0.0.2
lxml~=5.4.0
beautifulsoup4~=4.13.4
jmespath~=1.0.1